
header{

  position:relative;

    background-color: black;

    border: 4px solid rgb(77, 9, 3);

}

main{
  position:relative;

    background-image: url(https://cms.rhinoshield.app/public/images/small_ip_page_attack_on_titan_icon_e6b012d7a5.jpg);
    
    background-size: contain;

    border: 2px solid orangered;
    
}

 article {
    position: relative;
   background-image: url(https://wallpapers.com/images/high/aot-the-walls-bnluhbt1havoyn8q.webp);
    
    background-size: contain;
    
    border: 2px solid rgb(77, 9, 3);
   
 }

 section{
   position: relative;
   background-color: goldenrod;
   opacity: 0.75;
   stop-opacity: initial;
   color: black;
   border: 2px solid orangered
   
 }
 aside{
    position: relative;
    background-color: rgb(48, 48, 48);
    border: 2px solid orangered;
    
 }

 footer { 
    position: relative;
    background-color: black;
    color: burlywood;
    border: 2px solid orangered;
   
    
 }

*{
  text-align: left;
  text-size-adjust: 16px;
  list-style: none

}

p{
  text-align: left;
  text-align: left;
}