

body{
    background-image: image(<blockquote class="imgur-embed-pub" lang="en" data-id="a/WrTNEgk" data-context="false" ><a href="//imgur.com/a/WrTNEgk"></a></blockquote><script async src="//s.imgur.com/min/embed.js" charset="utf-8"></script>);
 }

 aside{
    background-color: rgb(48, 48, 48);
 }

 footer {
    background-color: black;
    color: burlywood;
 }